body {
	background-color: #DBDBDB;
	font-family: "Segoe UI", Arial, sans-serif;
}

div#loginPanel {
	background-image: linear-gradient(#0075A2, #005874);
	width: calc(600px - 120px);
	height: calc(500px - 100px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 87px;
	box-shadow: 0px 10px 4px #0000002b;
}

div#loginPanelName {
	width: calc(208px - 41.6px);
	height: calc(33px - 6.6px);
	position: fixed;
	top: calc(30px - 6px);
	left: calc(196px - 39.2px);
	font-size: 20px;
	color: #FFFFFF;
}

div#loginLine {
	background-color: #707070;
	width: 2px;
	height: calc(70px - 14px);
	position: fixed;
	top: calc(93px - 18.6px);
	left: calc(121px - 24.2px);
	z-index: 1;
}

img#usernameImage {
	width: calc(47px - 9.4px);
	height: calc(47px - 9.4px);
	position: fixed;
	top: calc(105px - 21px);
	left: calc(61px - 12.2px);
}

div#username {
	background-color: #FFFFFF;
	width: calc(525px - 105px);
	height: calc(70px - 14px);
	position: fixed;
	top: calc(93px - 18.6px);
	left: calc(40px - 8px);
	border-radius: 35px;
}

input#username:focus {
	outline: none;
}

input#username:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}

input#username {
	background-color: transparent;
	width: calc(439px - 87.8px);
	height: calc(70px - 14px);
	position: fixed;
	top: calc(93px - 18.6px);
	left: calc(121px - 24.2px);
	border: none;
	font-size: 20px;
	color: #003B51;
}

div#passwordLine {
	background-color: #707070;
	width: 2px;
	height: calc(70px - 14px);
	position: fixed;
	top: calc(193px - 38.6px);
	left: calc(121px - 24.2px);
	z-index: 1;
}

img#passwordImage {
	width: calc(44px - 8.8px);
	height: calc(47px - 9.4px);
	position: fixed;
	top: calc(202px - 40.4px);
	left: calc(61px - 12.2px);
}

div#password {
	background-color: #FFFFFF;
	width: calc(520px - 104px);
	height: calc(70px - 14px);
	position: fixed;
	top: calc(193px - 38.6px);
	left: calc(40px - 8px);
	border-radius: 35px;
}

input#password:focus {
	outline: none;
}

input#password:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}

input#password {
	background-color: transparent;
        width: calc(439px - 87.8px);
        height: calc(70px - 14px);
        position: fixed;
        top: calc(193px - 38.6px);
        left: calc(121px - 24.2px);
        border: none;
        font-size: 20px;
        color: #003B51;
}

div#loginError {
	width: calc(525px - 105px);
	height: calc(70px - 14px);
	position: fixed;
	top: calc(293px - 58.6px);
	left: calc(40px - 8px);
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
}

input#loginButton:focus {
        outline: none;
}

input#loginButton {
	background-color: #FFFFFF;
        width: calc(260px - 52px);
        height: calc(70px - 14px);
        position: fixed;
        top: calc(400px - 80px);
        left: calc(170px - 34px);
        border-radius: 45px;
	border: none;
	font-size: 20px;
	color: #003B51;
}

div#header {
	background-image: linear-gradient(#0075A2, #005874);
	position: fixed;
	width: 100%;
	height: calc(132px - 26.4px);
	top: 0px;
	left: 0px;
	box-shadow: 0px 10px 4px #0000002b;
}

div#headerTitle {
	width: calc(334px - 66.8px);
	height: calc(33px - 6.6px);
	position: fixed;
	top: calc(45px - 9px);
	left: 46px;
	font-size: 20px;		
	color: #FFFFFF;	
}

input#logoutButton {
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	width: 81px;
	height: 33px;
	position: fixed;
	top: calc(45px - 9px);
	right: 46px;
	font-size: 20px;
	color: #FFFFFF;
}

div#container {
	width: 100%;
        height: calc(100% - 105.6px);
        position: fixed;
        top: 105.6px;
        left: 0px;
}

div#search {
        width: calc(478px - 95.6px);
        height: calc(134px - 26.8px);
        position: fixed;
        top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div#searchBarLine {
	background-color: #707070;
        width: 2px;
        height: calc(47px - 9.4px);
        position: fixed;
        top: calc(12px - 2.4px);
        left: calc(59px - 11.8px);
        z-index: 1;
}

div#searchBar {
        background-color: #FFFFFF;
        width: calc(478px - 95.6px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: calc(12px - 2.4px);
        left: 0px;
        border-radius: 24px;
}	

input#searchBar:focus {
        outline: none;
}

input#searchBar:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
}

input#searchBar {
        background-color: transparent;
        width: calc(417px - 83.4px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: calc(12px - 2.4px);
        left: calc(61px - 12.2px);
        border: none;
        font-size: 20px;
        color: #003B51;
}

img#searchBarImage {
        width: calc(69px - 13.8px);
        height: calc(69px - 13.8px);
        position: fixed;
        top: 0px;
        left: 0px;
}

input#searchButton {
        background-color: #FFFFFF;
        width: calc(239px - 47.8px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: calc(87px - 17.4px);
        left: calc(118px - 23.6px);
        border-radius: 24px;
        border: none;
        font-size: 20px;
        color: #003B51;
}

div#error {
	background-color: #FFFFFF;
	width: calc(600px - 120px);
	height: calc(400px - 80px);
	position: fixed;
	top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	box-shadow: 0px 10px 4px #0000002b;	 	
}

div#errorTitle {
	width: calc(58px - 11.6px);
        height: calc(33px - 6.6px);
        position: fixed;
        top: calc(16px - 3.2px);
        left: calc(272px - 54.4px);
        font-size: 20px;
        color: #003B51;	
}

div#errorLine {
	background-color: #F0F0F0;
        width: calc(437px - 87.4px);
        height: 1px;
        position: fixed;
        top: calc(60px - 12px);
        left: calc(81px - 16.2px);
        border-radius: 1px;	
}

div#errorBox {
	background-color: #FFFFFF;
	width: calc(564px - 112.8px);
	height: calc(265px - 53px);
	position: fixed;
	top: calc(72px - 14.4px);
	left: calc(18px - 3.6px);
}

input#returnButton {
	background-color: #FFFFFF;
        width: calc(239px - 47.8px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: calc(337px - 67.4px);
        left: calc(181px - 36.2px);
        border-radius: 24px;
	border: none;
	box-shadow: 0px 3px 6px #0000002b;
        font-size: 20px;
        color: #003B51;
}

div#search2 {
        width: calc(769px - 153.8px);
        height: calc(48px - 9.6px);
        position: fixed;
        top: 125.6px;
        left: 50%;
        transform: translate(-50%);
}

div#searchBarLine2 {
        background-color: #707070;
        width: 2px;
        height: calc(47px - 9.4px);
        position: fixed;
        top: 0px;
        left: 62px;
        z-index: 1;
}

div#searchBar2 {
        background-color: #FFFFFF;
        width: calc(478px - 95.6px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: 0px;
        left: 0px;
        border-radius: 24px;
	margin: auto;
}

input#searchBar2:focus {
        outline: none;
}

input#searchBar2:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
}

input#searchBar2 {
        background-color: transparent;
        width: calc(417px - 104.4px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: 0px;
        left: 63px;
        border: none;
        font-size: 20px;
        color: #003B51;
}

img#searchBarImage2 {
        width: calc(49px - 9.8px);
        height: calc(48px - 9.6px);
        position: fixed;
        top: 0px;
        left: 15px;
}

input#searchButton2 {
        background-color: #FFFFFF;
        width: calc(239px - 47.8px);
        height: calc(47px - 9.4px);
        position: fixed;
        top: 0px;
        left: 530px;
        border-radius: 24px;
        border: none;
        font-size: 20px;
        color: #003B51;
}

div#results {
	width: 100%;
	height: calc(100% - 94px);
	position: relative;
        top: 80px;
        left: 50%;
        transform: translate(-50%);	
	display: flex;
	gap: 15px;
}

div#fiveMinutes {
	background-color: #FFFFFF;
	flex: 1 1 0px;
	margin-left: 15px;
	box-shadow: 0px 5px 6px #0000002b;
}

div#hourly {
        background-color: #FFFFFF;
        flex: 1 1 0px;
	box-shadow: 0px 5px 6px #0000002b;
}

div#daily {
	background-color: #FFFFFF;
	flex: 1 1 0px;
	margin-right: 15px;
	box-shadow: 0px 5px 6px #0000002b;
}

div#fiveMinutesTitle {
	width: 141px;
	height: 33px;
	position: relative;
        left: calc(50% - 70.5px);
        font-size: 20px;
        color: #003B51;	
}

div#hourlyTitle {
        width: 74px;
        height: 33px;
        position: relative;
        left: calc(50% - 37px);
        font-size: 20px;
        color: #003B51;
}

div#dailyTitle {
        width: 56px;
        height: 33px;
        position: relative;
        left: calc(50% - 28px);
        font-size: 20px;
        color: #003B51;
}

div#fiveMinutesLine, div#hourlyLine, div#dailyLine {
        background-color: #F1F1F1;
        width: calc(438px - 87.6px);
        height: 1px;
        position: relative;
        left: calc(50% - 175.2px);
        border-radius: 3px;
}

div#table {
	position: relative;
	height: 100%;
}

div#table table {
	overflow-y: scroll;
	width: 100%;
	height: 96.9%;
	display: block;
}

div#table th {
	width: 10%;
}

div#table td {
	text-align: center;
}

div#table tbody {
	height: 100%;
}
